<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource"
      type="Exchange.EntLib.Common.Configuration.ConfigurationSourceSection, Exchange.EntLib.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=df399fc261e0bebf"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Sqlv3">
    <sources>
      <add name="Sqlv3"
        type="Exchange.EntLib.Configuration.SqlConfigurationSource, Exchange.EntLib.Configuration.Sql, Version=3.0.0.0, Culture=neutral, PublicKeyToken=df399fc261e0bebf"
        bootstrapConnectionString="server=(local);database=Exweb;integrated security=true;"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Exchange.EntLib.Common" publicKeyToken="df399fc261e0bebf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19057.1419" newVersion="3.1.19057.1419" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Exchange.EntLib.Configuration.Sql" publicKeyToken="df399fc261e0bebf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.19115.1514" newVersion="3.0.19115.1514" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Exchange.EntLib.Data" publicKeyToken="df399fc261e0bebf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.19073.1058" newVersion="3.0.19073.1058" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Exchange.EntLib.Logging" publicKeyToken="df399fc261e0bebf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.19073.1017" newVersion="3.0.19073.1017" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Exchange.EntLib.Logging.TraceListeners.Sql" publicKeyToken="df399fc261e0bebf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.19085.1159" newVersion="3.0.19085.1159" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Exchange.EntLib.Data.Exweb.ExwebSqlClient"/>
      <add name="Exweb SqlClient Data Provider" invariant="Exchange.EntLib.Data.Exweb.ExwebSqlClient"
        description="Exweb .Net Framework Data Provider for SqlServer"
        type="Exchange.EntLib.Data.Exweb.ExwebSqlClient, Exchange.EntLib.Data, Version=3.*.*.*, Culture=neutral, PublicKeyToken=df399fc261e0bebf"/>
    </DbProviderFactories>
  </system.data>
</configuration>